.cards {
  color: #000;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.cards__list {
  margin: 0;
  display: grid;
  list-style-type: none;
  padding: 0;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 282px);
  grid-gap: 20px 17px;
  margin-top: 47.25px;
}
