.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 80px;
  margin-top: 0;
  margin-bottom: 0;
}

.footer__copyright {
  color: #545454;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  padding-top: 67px;
  padding-left: 100px;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 975px) {
  .footer {
    padding-left: 10px;
  }

  .footer__copyright {
    padding-left: 80px;
  }
}

@media screen and (max-width: 650px) {
  .footer {
    padding-left: 5px;
  }

  .footer__copyright {
    padding-left: 5px;
  }
}
