.footer {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.footer__copyright {
  color: #545454;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 67px auto 60px 0;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    margin-right: auto;
  }

  .footer {
    justify-content: center;
  }
}
