.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba 0, 0, 0, 0.5;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 200px;
  padding-right: 200px;
  visibility: hidden;
}

.modal__container {
  background-color: #fff;
  padding: 36px;
  margin: auto;
  border-radius: 10px;
  color: black;
  position: relative;
}

.modal__close {
  background-image: url(../images/Close\ Icon.svg);
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -45px;
  right: -45px;
  cursor: pointer;
}

.modal__opened {
  display: flex;
  visibility: visible;
}

.modal__heading {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  margin: 0, 0, 24px;
  font-style: normal;
  width: 330px;
  height: 23px;
}

.modal__form {
  display: flex;
  align-items: center;
  row-gap: 8px;
  flex-direction: column;
  font-family: "Inter", Arial, "Times New Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.modal__button {
  width: 100px;
  height: 50px;
  margin-top: 48px;
  margin-bottom: 36px;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  border: none;
  font-family: "Inter", Arial, "Times New Roman";
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}

.modal__input {
  width: 100%;
  height: 50px;
  border-radius: 2px;
  background-color: transparent;
  color: #000;
  border: none;
  line-height: 17px;
  display: flex;
  border-bottom-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  font-family: "Inter", Arial, "Times New Roman";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}

@media screen and (max-width: 320px) and (min-width: 880px) {
  .modal__container {
    width: 282px;
    height: 322px;
    top: 123px;
    left: 19px;
    border: 1px;
  }

  .modal__close {
    height: 26px;
    width: 26px;
    bottom: calc(100% + 14px);
    left: calc(100% - 25px);
  }
}
