.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  margin-bottom: 47.25px;
}

.profile__info {
  display: grid;
  grid-template-areas: "title button" "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  grid-gap: 9px 17px;
  align-items: center;
  padding-left: 30px;
}

.profile__edit-button {
  background: transparent url(../images/edit.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  align-self: center;
  border: 1px solid white;
  box-sizing: border-box;
}

.profile__add-button {
  background: transparent url(../images/add.svg) center no-repeat;
  height: 50px;
  width: 150px;
  margin-left: auto;
  border: 2px solid #ffffff;
  border-radius: 2px;
  box-sizing: border-box;
  padding-left: 165px;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

.profile__description {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
}

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-left: 0;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    margin-bottom: 36px;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
    max-width: 282px;
  }
}

@media screen and (max-width: 420px) {
  .profile__title {
    font-size: 22px;
    line-height: 26.63px;
    max-width: 196px;
  }
  .profile__image {
    margin-bottom: 26.25px;
  }
  .profile__description {
    text-align: center;
    font-size: 14px;
    line-height: normal;
    max-width: 282px;
  }

  .profile__edit-button {
    max-width: 18px;
    max-height: 18px;
  }

  .profile__info {
    padding-left: 0;
    padding-right: 0;
  }
}
